# Node / build
node_modules/
client/node_modules/
server/node_modules/
dist/
build/

# Environment
.env
.env.*
!.env.example

# Logs
logs
*.log

# OS
.DS_Store

# Temporary
.cache

# IDE
.vscode/
.idea/

# Coverage
coverage/

# Ignore client/server build outputs
client/dist/
server/dist/

# Others
.parcel-cache/
.next/
out/
